<article id="poem-<%= poem.id %>" class="poem">
  <div class="poem-details">
    <h1 class="poem-title">
      <a href="/poems/<%= poem.id %>" class="link-coral"><%= poem.title %></a>
    </h1>

    <p class="poem-detail-line"><%= authorship_tagline(poem) %></p>
    <p class="poem-detail-line"><%= applause_report(poem) %></p>
  </div>

  <p class="poem-body handwritten light">
    <%= with_line_breaks(poem.body) %>
  </p>

  <%= erb :"poems/_poem_applause_form", { layout: false, locals: { poem: poem } } %>
</article>
