<h2><%= @potluck.name %></h2>
<div class="potluck-details">
  <p class="details"><b>Location:</b> <%= @potluck.location%></p>
  <p class="details"><b>Date:</b> <%= format_month_day(@potluck.starts_at) %></p>
  <p class="details"><b>Time:</b> <%= format_time(@potluck.starts_at) %></p>
  <p class="details"><b>Host:</b> <%= @potluck.host.username %></p>
</div>

<% if @message %>
  <div id="message">
   <h2><%= @message %></h2>
  </div>
<% else %>
    <% if logged_in? && !authorized?(@potluck.host) %>
      <%= erb :'potlucks/_new_contribution_form', locals: { potluck: @potluck } %>
    <% elsif !logged_in? %>
      <div class="leave-a-contribution">
        <h2>Attend the Potluck</h2>
        <p> You must be logged in to be invited to the party 😛</p>
        <br>
        <a href="/sessions/new">login</a>
      </div>
    <% else %>
      <div class="leave-a-contribution">
      </div>
    <% end %>
<% end %>


<div id="edit-potluck-button">
  <% if authorized?(@potluck.host) %>
    <a href="/potlucks/<%= @potluck.id %>/edit">Edit</a> |
    <div id="logout-button">
      <form method="POST" action="/potlucks/<%= @potluck.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
      </form>
    </div>
      <br>
  <% end %>
</div>

<%= erb :'potlucks/_display_attendees', locals: { potluck: @potluck } %>
